<%# iterate through all the articles, display mini cards of them %>
<%= link_to "Add Article", new_articles_path, class: "btn btn-primary" %>
<%= link_to "Toggle Arts", toggle_arts_path, class: "btn btn-warning" %>
<%= link_to "Toggle Antiques", toggle_antiques_path, class: "btn btn-warning" %>
<%= link_to "Toggle Flooring", toggle_flooring_path, class: "btn btn-warning" %>
<%= link_to "Invite User", new_user_invitation_path, class: "btn btn-info" %>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @articles.each do |article| %>
    <div class="col">
      <div class="card" style="width: 18rem; margin: 1rem 1rem;">
        <img src="<%= article.photos.first.url %>" class="card-img-top" style="height: 300px; object-fit: cover">
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= article.category %></p>
        <%= link_to "Edit", edit_articles_path(id: article.id), class: "btn btn-secondary" %>
        <%= link_to "Destroy", articles_path(id: article.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
