<% content_for(:html_title) { 'EXPERTS IN ANTIQUE - STONE & WOOD - EA2' } %>
<div id="pagewrap">
  <div id="header">
    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag ("logo-344x65.png"), class: "ri", style: "margin-top: 5px" %>
      <% end %>
      <%# <a href="/"><img src="images/logo-344x65.png" class="ri" style="margin-top: 5px"/></a> %>
    </div>
    <div class="rmm">
      <ul>
        <li><%= link_to "Impressions", root_path, class: "active" %></li>
        <li><%= link_to "Before & After", before_and_after_path %></li>
        <li><%= link_to "At Work", at_work_path %></li>
        <li><%= link_to "About", about_path %></li>
        <%# <li><a href="/" class="active">Impressions</a></li> %>
        <%# <li><a href="before-and-after/">Before & after</a></li> %>
        <%# <li><a href="at-work/">At work </a></li> %>
        <%# <li><a href="about-ea2/">About EA2</a></li> %>
      </ul>
    </div>
  </div>	<!-- CONTENT -->
  <div id="content">
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/01.jpg" class="full"/>
    </div>
    <!-- LINE 2 -->
    <div id="line_2">
      <div id="line_2_links">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/02.jpg" class="full_extra"/>
      </div>
      <div id="line_2_rechts">
        <div id="line_2_top">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/03.jpg" class="full"/>
        </div>
        <div id="line_2_bottom">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/04.jpg" class="full"/>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <hr class="line_black"/>
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/05.jpg" class="full"/>
    </div>
    <!-- LINE 2 -->
    <div id="line_2">
      <div id="line_2_links">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/06.jpg" class="full_extra"/>
      </div>
      <div id="line_2_rechts">
        <div id="line_2_top">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/07.jpg" class="full"/>
        </div>
        <div id="line_2_bottom">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/08.jpg" class="full"/>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <hr class="line_black"/>
    <!-- LINE 2 -->
    <div id="line_2">
      <div id="line_2_links">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/09.jpg" class="full_extra"/>
      </div>
      <div id="line_2_rechts">
        <div id="line_2_top">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/10.jpg" class="full"/>
        </div>
        <div id="line_2_bottom">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/11.jpg" class="full"/>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <hr class="line_black"/>
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/12.jpg" class="full"/>
    </div>
    <!-- LINE 2 -->
    <div id="line_2">
      <div id="line_2_links">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/13.jpg" class="full_extra"/>
      </div>
      <div id="line_2_rechts">
        <div id="line_2_top">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/14.jpg" class="full"/>
        </div>
        <div id="line_2_bottom">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/15.jpg" class="full"/>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <hr class="line_black"/>
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/16.jpg" class="full"/>
    </div>
    <!-- LINE 2 -->
    <div id="line_2">
      <div id="line_2_links">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/17.jpg" class="full_extra"/>
      </div>
      <div id="line_2_rechts">
        <div id="line_2_top">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/18.jpg" class="full"/>
        </div>
        <div id="line_2_bottom">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/19.jpg" class="full"/>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <hr class="line_black"/>
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/20.jpg" class="full"/>
    </div>
    <!-- LINE 2 -->
    <div id="line_2">
      <div id="line_2_links">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/21.jpg" class="full_extra"/>
      </div>
      <div id="line_2_rechts">
        <div id="line_2_top">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/22.jpg" class="full"/>
        </div>
        <div id="line_2_bottom">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/23.jpg" class="full"/>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <hr class="line_black"/>
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/24.jpg" class="full"/>
    </div>
    <!-- LINE 2 -->
    <div id="line_2">
      <div id="line_2_links">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/25.jpg" class="full_extra"/>
      </div>
      <div id="line_2_rechts">
        <div id="line_2_top">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/26.jpg" class="full"/>
        </div>
        <div id="line_2_bottom">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/27.jpg" class="full"/>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <hr class="line_black"/>
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/28.jpg" class="full"/>
    </div>
    <!-- LINE 2 -->
    <div id="line_2">
      <div id="line_2_links">
        <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/29.jpg" class="full_extra"/>
      </div>
      <div id="line_2_rechts">
        <div id="line_2_top">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/30.jpg" class="full"/>
        </div>
        <div id="line_2_bottom">
          <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/31.jpg" class="full"/>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <hr class="line_black"/>
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/32.jpg" class="full"/>
    </div>
    <!-- LINE 1 -->
    <div id="line_1">
      <img src="https://res.cloudinary.com/ddngbvo3j/image/upload/v1612629206/ea2_V2/impressions/33.jpg" class="full"/>
    </div>
    <hr class="line_black"/>
    <div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>	<div id="footer">
  </div>
</div>

